<script setup>

</script>

<template>
    <div class="h-[40px] bg-[#EBEBEB] flex flex-row items-center">
        <img src="/icons/copyright 1.png" class="ml-[1083px]">
        <p class="text-[#4F4F4F] font-[400] text-[14px]">my Dream Place 2022</p>

    </div>
</template>