<script setup>
</script>

<template>
    <div class="w-[1240px] h-[72px] rounded-[8px] bg-[#FCEFCA] flex flex-row items-center  p-[20px_24px]">
        <img src="/icons/danger 1.png" class="mr-[5px]">
        <p class="text-[#333] text-[16px] font-[400]">Check the latest COVID-19 restrictions before you travel. <span class="text-[#2F80ED]">Learn more</span></p>
    </div>
</template>