<script setup>
    import SiteName from './SiteName.vue';
</script>

<template>
    <div class="container ">
        <div class="h-[260px] w-[1240px] bg-transparent flex flex-row justify-between text-[#4F4F4F] text-[14px] ">

            <div class="flex flex-col gap-[10px]">
                <SiteName />
                <p class="ml-[22px]">Your next goto companion for travel</p>
            </div>


            <div class="flex flex-col gap-[10px]">
                <h2 class="text-[#000000] text-[16px] font-[500] mb-[20px]">Company</h2>
                <p>About</p>
                <p>Jobs</p>
                <p>Newsroom</p>
                <p>Advertising</p>
                <p>Contact us</p>
            </div>


            <div class="flex flex-col gap-[10px]">
                <h2 class="text-[#000000] text-[16px] font-[500] mb-[20px]">Explore</h2>
                <p>Australia</p>
                <p>New Zealand</p>
                <p>United States America (USA)</p>
                <p>Maldives</p>
                <p>Singapore</p>
                <p class="text-[#2F80ED]">See more</p>
            </div>

            <div class="flex flex-col gap-[10px]">
                <h2 class="text-[#000000] text-[16px] font-[500] mb-[20px]">Terms and Policies</h2>
                <p>Privacy Policy</p>
                <p>Terms of use</p>
                <p>Acessibility</p>
                <p>Reward system policy</p>
            </div>


            <div class="flex flex-col gap-[10px]">
                <h2 class="text-[#000000] text-[16px] font-[500] mb-[20px]">Help</h2>
                <p>Support</p>
                <p>Cancel your bookings</p>
                <p>Use Coupon</p>
                <p>Refund Policies</p>
                <p>International Travel Documents</p>
            </div>
        
        </div>
    </div>
</template>