<script setup>
    const props = defineProps({
      searchHeader: {
        type: Boolean,
        default: false
      }})
</script>

<template>
    <div class="flex flex-row">
        
        <img src="/icons/Vector.png" alt="icon" class="w-6 h-6 mr-1" v-if="!searchHeader">

        <img src="/public/icons/bxs-plane-alt 1.png" alt="icon" class="w-6 h-6 mr-1" v-else>
        
        <h1 class="text-[#1B1F2D] text-lg font-medium tracking-[0.36px] font-workSans " :class="{textWhite : searchHeader}">my Dream Place</h1>
    </div>
</template>
<style scoped>
    .textWhite{
        color: white;
    }

</style>