<script setup>

</script>

<template>
    
        <div class="bg-[url('/images/bannerSection.jpg')] h-[500px] w-[1240px] rounded-[10px] flex flex-col justify-center items-center font-workSans text-white"> 
            <h1 class="w-[610px] text-[32px] font-bold text-center mb-[20px]">Enjoy Your Dream Vacation</h1>
            <p class="w-[650px] text-center text-xl font-normal leading-7 tracking-[0.4px]">Plan and book our perfect trip with expert advice, travel tips, destination information and  inspiration from us</p>
        </div>
    
</template>