<script setup>
    import {ref , watch} from 'vue'

    const emits = defineEmits(['priceValue'])
    const priceValue = ref({
        minPrice : null ,
        maxPrice : null
    })
    const isChecked1 = ref(false)
    const isChecked2 = ref(false)
    const isChecked3 = ref(false)
    const isChecked4 = ref(false)
    const isChecked5 = ref(false)
    const selectOne = ref(false)
    const toggleValue = ref(false)
    const inputMin = ref(null)
    const inputMax = ref(null)
    
    


    function handelButtonone(){
        
        const firstObj ={
        minPrice : 0 ,
        maxPrice : 200
        }
        if(!isChecked2.value &&!isChecked3.value && !isChecked4.value && !isChecked5.value){
            selectOne.value = false
            if(!isChecked1.value){
                     priceValue.value = firstObj
                    isChecked1.value = !isChecked1.value
            }else{
                    priceValue.value = {
                        minPrice : null ,
                        maxPrice : null
                    }
                    isChecked1.value = false
                }
                
        }else{
            selectOne.value = true
        }
    }
    function handelButtontwo(){
        const twoObj ={
        minPrice : 200 ,
        maxPrice : 500
        }
        if(!isChecked1.value &&!isChecked3.value && !isChecked4.value && !isChecked5.value){
            selectOne.value=false
            if(!isChecked2.value){
            priceValue.value = twoObj
            isChecked2.value = !isChecked2.value
        }else{
            priceValue.value = {
                    minPrice : null ,
                    maxPrice : null
                }
            isChecked2.value = false
        }
        }else{
            selectOne.value=true
        }
        
    }
    function handelButtonthree(){
        const threeObj ={
        minPrice : 500 ,
        maxPrice : 1000
        }
        if(!isChecked1.value &&!isChecked2.value && !isChecked4.value && !isChecked5.value){
            selectOne.value = false
            if(!isChecked3.value){
            priceValue.value = threeObj
            isChecked3.value = !isChecked3.value
            }else{

                priceValue.value = {
                        minPrice : null ,
                        maxPrice : null
                    } 
                isChecked3.value = false
            }
        }else{
            selectOne.value = true
        }
        
    }

    function handelButtonfour(){
        const fourObj ={
        minPrice : 1000 ,
        maxPrice : 2000
        }
        if(!isChecked1.value &&!isChecked2.value && !isChecked3.value && !isChecked5.value){
            selectOne.value = false
            if(!isChecked4.value ){

                priceValue.value = fourObj
                isChecked4.value = !isChecked4.value
                }else{
                priceValue.value = {
                        minPrice : null ,
                        maxPrice : null
                    }
                isChecked4.value = false
                }
        }else{
            selectOne.value = true
        }
    }

    function handelButtonfive(){
        const fiveObj ={
        minPrice : 2000 ,
        maxPrice : 5000
        }
        if(!isChecked1.value &&!isChecked2.value && !isChecked4.value && !isChecked3.value){
            selectOne.value = false
            if(! isChecked5.value){
            priceValue.value = fiveObj
            isChecked5.value = !isChecked5.value
        }else{
            priceValue.value = {
                minPrice : null ,
                maxPrice : null
            }
            isChecked5.value = false
        }
        }else{
            selectOne.value = true
        }
        
    }


    watch(inputMin,()=>{
            if(!inputMax.value){
                priceValue.value ={
                    minPrice : inputMin.value,
                    maxPrice : null   }
            }else{
                priceValue.value ={
                    minPrice : inputMin.value,
                    maxPrice : inputMax}
            }
        })   
    watch(inputMax,()=>{
        if(!inputMin.value){
            priceValue.value ={
                minPrice : null,
                maxPrice : inputMax.value   }
        }else{
            priceValue.value ={
                minPrice : inputMin.value,
                maxPrice : inputMax.value}
        }
    }) 
    

    watch(priceValue , (newValue)=>{
    emits('priceValue' , newValue)
})

    

</script>

<template>
    <p class="text-[#333] text-[18px] font-[600] tracking-[0.36px] pl-[19px] mb-[20px]">Filter by</p>

    <div class=" flex flex-col rounded-md border-[1px] border-solid border-[#E0E0E0]" >

        <div class="h-[55px] p-[18px] flex flex-row gap-[10] items-start rounded-[6px_6px_0px_0px] border-[1px] border-solid border-[#E0E0E0] bg-[#F2F2F2]">
            <p class="text-[#181818] text-[16px] font-[500] tracking-[0.16px]">Your budget per day</p>
        </div>

        <!-- //radio button -->
        <div v-if="!toggleValue"
        class="flex flex-col gap-[14px] py-[18px] pl-[18px]">

                <!-- max-200 -->
                <button class="text-[#333] text-[14px] font-[400] tracking-[0.28px] flex flex-row gap-[10px]"
                @click="handelButtonone" >
                    
                    <div class="w-[20px] h-[20px] rounded-[5px] border-[1px] border-solid border-[#BDBDBD] bg-white " :class="{checked : isChecked1}" ></div>
                    <p>$ 0 - $ 200</p>
                </button>

                
                <!-- max-500 -->
                <button class="text-[#333] text-[14px] font-[400] tracking-[0.28px] flex flex-row gap-[10px]"
                @click="handelButtontwo">
                    <div class="w-[20px] h-[20px] rounded-[5px] border-[1px] border-solid border-[#BDBDBD] bg-white " :class="{checked : isChecked2}"></div>
                    <p>$ 200 - $ 500</p>
                </button>

                <!-- max-1000 -->
                <button class="text-[#333] text-[14px] font-[400] tracking-[0.28px] flex flex-row gap-[10px]"
                @click="handelButtonthree">
                    <div class="w-[20px] h-[20px] rounded-[5px] border-[1px] border-solid border-[#BDBDBD] bg-white " :class="{checked : isChecked3}"></div>
                    <p>$ 500 - $ 1,000</p>
                </button>

                <!-- max-2000 -->
                <button class="text-[#333] text-[14px] font-[400] tracking-[0.28px] flex flex-row gap-[10px]"
                @click="handelButtonfour">
                    <div class="w-[20px] h-[20px] rounded-[5px] border-[1px] border-solid border-[#BDBDBD] bg-white " :class="{checked : isChecked4}"></div>
                    <p>$ 1,000 - $ 2,000</p>
                </button>

                
                <!-- max-5000 -->
                <button class="text-[#333] text-[14px] font-[400] tracking-[0.28px] flex flex-row gap-[10px]"
                @click="handelButtonfive">
                    <div class="w-[20px] h-[20px] rounded-[5px] border-[1px] border-solid border-[#BDBDBD] bg-white " :class="{checked : isChecked5}"></div>
                    <p>$ 2,000 - $ 5,000</p>
                </button>


                <p v-if="selectOne">
                    You Should select one option
                </p>
            
        </div>

        <!-- //Toggle -->
        <div class="flex flex-row px-[18px] justify-between items-center mb-[8px] mt-[18px]" >
            <p class="text-[#4F4F4F] text-[14px] font-[400] tracking-[0.28px]">
                Set your own budget
            </p>
            <label class="switch">
                <input type="checkbox" v-model="toggleValue">
                <span class="slider round"></span>
            </label>
        </div>

        <!-- //inputs -->
        <div v-if="toggleValue"
        class="w-[257px] h-[77px] border-[1px] border-[dashed] border-[#D9D9D9] ml-[18px] pl-[10px] pt-[10px] flex flex-col mb-[10px]">
            <div class="flex flex-row gap-[13px] mb-[8px]">
                <input  type="number" class="flex flex-row w-[103px] h-[39px] 
                p-[11px_12px_12p_12px] items-center gap-[10px] shrink-0 rounded-[4px] border-[1px] border-solid border-[#E0E0E0]bg-white text-[#333] text-[12px] font-[400] leading-[16.8px] tracking-[0.24px] placeholder:pl-[12px] placeholder:text-[#333] focus:outline-none" placeholder="Min budget" v-model="inputMin" @input="event => inputMin = event.target.value">

                <input type="number" class="flex flex-row w-[103px] h-[39px] 
                p-[11px_12px_12p_12px] items-center gap-[10px] shrink-0 rounded-[4px] border-[1px] border-solid border-[#E0E0E0]bg-white text-[#333] text-[12px] font-[400] leading-[16.8px] tracking-[0.24px] placeholder:pl-[12px] placeholder:text-[#333] focus:outline-none" placeholder="Max budget" v-model="inputMax" @input="event => inputMax = event.target.value">
            </div>

            <p class="text-[#4F4F4F] text-[12px] font-[400] leading-[16.8px] tracking-[0.24px] ">Press Enter to filter</p>
        </div>
        
    </div>
</template>

<style scoped>
    .checked{
        background-color: red;
    }
    /* The switch - the box around the slider */
    .switch {
    position: relative;
    display: inline-block;
    width: 42px;
    height: 20px;
    }

    /* Hide default HTML checkbox */
    .switch input {
    opacity: 0;
    width: 0;
    height: 0;
    }

    /* The slider */
    .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #BDBDBD;
    -webkit-transition: .4s;
    transition: .4s;
    }

    .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: -1px;
    bottom: -1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    }

    input:checked + .slider {
    background-color: #2F80ED;
    }

    input:focus + .slider {
    box-shadow: 0 0 1px #2F80ED;
    }

    input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
    border-radius: 34px;
    }

    .slider.round:before {
    border-radius: 50%;
    }

</style>