<script setup>
    import SiteName from '../../shared/SiteName.vue';
    import Navbar from './Navbar.vue';
    import Login from './Login.vue';
       
</script>

<template>
    <header class="flex justify-between items-center h-[68px] w-[1240px]">
        <SiteName />
        <Navbar />
        <Login />
    </header>
</template>