<script setup>
    import{ref} from 'vue'
    import { useRouter } from 'vue-router';

    const router = useRouter()
    const props = defineProps(['hotel'])
    const hotelId = ref(null)
    const checkIn = ref(null)
    const checkOut = ref(null)

    const ratingArr = ref([])
    ratingArr.value.length = 3
    // Math.round((props.hotel.property.hotel.property.reviewScore)/2)
    console.log(props.hotel.property.hotel.property.reviewScore);
    


    function hotelDetails(){
        hotelId.value = props.hotel.hotel_id
        checkIn.value = props.hotel.property.checkinDate
        checkOut.value = props.hotel.property.checkoutDate

        router.push({
            name:'hotelDetails',
            query:{
                hotelId : hotelId.value,
                checkIn : checkIn.value,
                checkOut : checkOut.value

            }
        })
        
    }
   
</script>

<template>
    
    <!-- <p>{{ hotel.hotel_id }}</p>
    <p>{{ hotel.property.checkinDate }}</p>
    <p>{{ hotel.property.checkoutDate }}</p> -->

    <!-- <p>{{ hotel.property.name }}</p>
    <p>{{ Math.round((hotel.property.reviewScore)/2) }}</p>
    <p>{{ hotel.property.reviewCount }}</p>

    <p>{{ hotel.accessibilityLabel }}</p>
    <p>{{ hotel.property.photoUrls[0] }}</p>
    <p>{{ hotel.property.priceBreakdown }}</p>
    <p>{{ Math.round(hotel.property.priceBreakdown.strikethroughPrice.value) }}</p>
    <p>{{ Math.round(hotel.property.priceBreakdown.grossPrice.value )}}</p>
    <p v-if="hotel.property.priceBreakdown.benefitBadges.length">show button</p>
    <p v-if=" hotel.property.priceBreakdown.taxExceptions.length ">show button</p> -->

    <div class="flex flex-col gap-[24px] font-workSans">
        
        <div class="w-[915px] rounded-[5px] border-[1px] border-solid border-[#E0E0E0] flex flex-row p-[20px_24px_20px_20px]">
            
            <!-- image -->
            
            <div class=" mr-[26px] ] bg-[url('/images/hotel.png')] w-[285px] h-[200px] rounded-[5px]"> 
                <img :src="hotel.property.photoUrls[0]" alt="img" class="w-[285px] h-[200px] rounded-[5px]">
            </div>

            <!-- row2 -->
            <div class="w-[380px] flex flex-col mb-[2px]">

                <!-- name -->
                <h1 class="h-[32px] flex flex-col justify-center text-[#1A1A1A] text-[20px] font-[600] tracking-[0.2px] mb-[10px]">
                    {{ hotel.property.name }}
        
                </h1>
                <!-- rataing -->
                <div class="flex flex-row mb-[17px]">
                    <!-- stars -->
                    <div class="flex flex-row " v-for="i in [0,1,2]" :key="i">
                        <img src="/icons/star-s-fill 4.png">
                    </div>
                    <p class="text-[#4F4F4F] text-[14px] font-[400] leading-[19.6px] tracking-[0.28px] ml-[12px]">
                        {{ Math.round((hotel.property.reviewScore)/2) }} ({{ hotel.property.reviewCount }} Reviews)
                    </p>
                </div>
                <p class="text-[#4F4F4F] text-[13px] font-[500] leading-[18.2px] tracking-[0.26px] mb-[4px]">
                    Live a little and celbrate with champagne
                </p>
                <p class="text-[#4F4F4F] text-[13px] font-[400] leading-[18.2px] tracking-[0.26px] mb-[18px]">
                    Reats include a glass of French champagne, parking and a late checkout. Gym included. Flexible 
                </p>
                <button class="bg-button-color hover:bg-hover-button text-white p-[10px_14px] rounded-md text-[14px] font-[500] leading-[20px] tracking-[0.3px] w-[137px] h-[40px] inline-flex gap-[10px] justify-center items-center"
                @click="hotelDetails">
                    See availability 
                </button>
            </div>
            <!-- row3 -->
            <div class="flex flex-col items-end mb-[2px]">
                <button class="w-[190px] h-[26px] inline-flex p-[4px_6px] justify-center items-center gap-[10px] bg-[#EB5757] rounded-md text-white text-[11px] font-[500] leading-[18px] tracking-[0.26px] mb-[64px]" v-show="hotel.property.priceBreakdown.benefitBadges.length">
                    Book now and receive 15% off
                </button>

                <button class="w-[54px] h-[26px] inline-flex p-[4px_4px] justify-center items-center gap-[10px] bg-[#219653] rounded-md text-white text-[13px] font-[500] leading-[18px] tracking-[0.26px] mb-[29px]" >
                    5% off
                </button>
                <!-- price -->
                <div class="flex flex-row items-center">
                    <span class="text-[#EB5757] text-rirgt text-[14px] font-[500] tracking-[0.14px] line-through">
                        ${{ Math.round(hotel.property.priceBreakdown.grossPrice.value )}}
                    </span>
                    <p class="ml-[8px] text-[#333] text-rirgt text-[20px] font-[500] tracking-[0.2px]">
                        ${{ Math.round(hotel.property.priceBreakdown.strikethroughPrice.value) }}
                    </p>
                </div>
                <p class="text-[#333] text-rirgt text-[14px] font-[300] tracking-[0.28px]">
                    Includes taxes and fees
                </p>

            </div>

        </div>
    </div>

    
</template>