<script setup>

    import SiteName from '../../shared/SiteName.vue';
    import Navbar from '../components/Navbar.vue'
    import Login from '../components/Login.vue'

    const props = defineProps(['hotel']);

</script>

<template>
    <div class="font-workSans bg-[#F4F4F4]">

        <!-- section img -->
        <div class=" h-[500} flex flex-row p-[24px_215px]"  id="sectionImg">

            
           <div class="mr-[20px] w-[820px] h-[452px] rounded-[5px] bg-[url('/images/rr.jpg')]"></div>

           <div class="w-[400px] flex flex-col gap-[16px]">
                <div class="h-[218px] rounded-[5px] bg-[url('/images/rr.jpg')]"></div>
                <div class="h-[218px] rounded-[5px] bg-[url('/images/rr.jpg')]"></div>
           </div>

        </div>

        <!-- section nav -->
        <div class="px-[215px] h-[48px] bg-white shadow-[0px_1px_0px_0px_#E0E0E0] flex flex-row ">

            <div class="w-[94px] flex flex-row items-center justify-center mr-[14px] ">
                <p class="text-[#333] text-[16px] font-[400px] tracking-[0.32px]">Overview</p>
            </div>

            <div class="w-[94px] flex flex-row items-center justify-center">
                <p class="text-[#333] text-[16px] font-[400px] tracking-[0.32px]">Rooms</p>
            </div>

        </div>

        <!-- sectionDetails -->
        <div class="px-[215px] pt-[40px] bg-[#F4F4F4] mb-[172px]">

            <!-- 1part -->
            <div class="flex flex-row mb-[40px] bg-[#F4F4F4]">
                <div class="w-[810px] mr-[20px]">

                    <!-- nameHotel -->
                    <h1 class="text-[#1A1A1A] text-[32] font-[600] tracking-[0.32px] mb-[12px]">Lakeside Motel Warefront</h1>

                    <div class="flex flex-row mb-[12px]">
                        
                    <!-- stars -->
                        <div class="flex flex-row " v-for="i in [0,1,2]" :key="i">
                            <img src="/icons/star-s-fill 4.png">
                        </div>
                        <p class="text-[#4F4F4F] text-[14px] font-[400] leading-[19.6px] tracking-[0.28px] ml-[12px]">
                            3 (2000 Reviews)
                        </p>
                    </div>

                    <div class="flex flex-row items-center mb-[31px]">
                        <img src="/icons/locat1.png" class="mr-[5px]">
                        <p class="text-[#333] font-[400] ">Lorem ipsum road, Tantruim-2322, Melbourne, Australia                       
                        </p>
                    </div>

                    <!-- details -->
                    <div class="h-[508] rounded-[6px] bg-white flex flex-col p-[24px_40px_40px_30px]">

                        <h3 class="mb-[20px] text-[#181818] text-[18px] font-[500] tracking-[0.18px] ">Overview</h3>
                        <p class="text-[#4F4F4F] text-[16px] font-[400] tracking-[0.32px] mb-[44px]">Featuring free WiFi throughout the property, Lakeside Motel Waterfront offers accommodations in Lakes Entrance, 19 mi from Bairnsdale. Free private parking is available on site.<br><br>

                        Each room at this motel is air conditioned and comes with a flat-screen TV. You will find a kettle, toaster and a microwave in the room. Each room is fitted with a private bathroom. Guests have access to barbecue facilities and a lovely large lawn area. Metung is 6.8 mi from Lakeside Motel Waterfront, while Paynesville is 14 mi from the property.<br><br>

                        Couples in particular like the location – they rated it 9.2 for a two-person trip.
                        </p>

                        <hr class="mb-[26px] ">

                        <div class="flex flex-col">
                            <h2 class="text-[#181818] text-[18px] font-[500] tracking-[0.18px] mb-[24px]" >Top facilities</h2>
                            <div class="flex flex-row">

                                <div class="flex flex-col gap-[13px] mr-[114px]">

                                    <div class="flex flex-row">
                                        <img src="/icons/home-wifi 1.jpg" alt="" class="mr-[10px]">
                                        <p class="text-[#4F4F4F] text-[15px] font-[400] ">Free wifi</p>
                                    </div>
                                    <div class="flex flex-row">
                                        <img src="/icons/wind 1.jpg" alt="" class="mr-[10px]">
                                        <p class="text-[#4F4F4F] text-[15px] font-[400] ">Air Conditioning</p>
                                    </div>
                                    <div class="flex flex-row">
                                        <img src="/icons/car 1.jpg" alt="" class="mr-[10px]">
                                        <p class="text-[#4F4F4F] text-[15px] font-[400] ">Parking available</p>
                                    </div>

                                </div>

                                <div class="flex flex-col gap-[13px] mb-[41px]">

                                    <div class="flex flex-row">
                                        <img src="/icons/bag-tick-2 1.jpg" alt="" class="mr-[10px]">
                                        <p class="text-[#4F4F4F] text-[15px] font-[400] ">Business Services</p>
                                    </div>
                                    <div class="flex flex-row">
                                        <img src="/icons/lifebuoy 1.jpg" alt="" class="mr-[10px]">
                                        <p class="text-[#4F4F4F] text-[15px] font-[400] ">Swimming pool</p>
                                    </div>
                                    <div class="flex flex-row">
                                        <img src="/icons/like-1 1.jpg" alt="" class="mr-[10px]">
                                        <p class="text-[#4F4F4F] text-[15px] font-[400] ">Top rated in area</p>
                                    </div>

                                </div>

                            </div>
                        </div>


                    </div>

                </div>
            

                <div class="flex flex-col w-[400px] ">
                    <!-- <iframe :src="`https//maps.google.com/maps?q=${data.langitude},${data.longitude}&z=15&output=embed`"></iframe> -->
                    <div class="h-[240px] rounded-6px mb-[35px]">
                        <img src="/public/images/map.png">
                    </div>
                    <h2 class=" text-[#181818] text-[18px] font-[500]">Explore the area</h2>
                    <div class="flex flex-col gap-[12px] mt-[30px]">

                        <div class="flex flex-row items-center ">
                            <img src="/icons/bxs-plane-alt 2 (1).jpg" alt="" class="mr-[10px]">
                            <p class="text-[#4F4F4F] text-[14px] font-[400]">Hotel Penselvenyia</p>
                            <p class="text-[#4F4F4F] text-[14px] font-[400] self-end ml-[160px]">2 min drive</p>

                        </div>
                        <div class="flex flex-row items-center ">
                            <img src="/icons/bxs-map 1.png" alt="" class="mr-[10px]">
                            <p class="text-[#4F4F4F] text-[14px] font-[400]">Travis Bakery store house</p>
                            <p class="text-[#4F4F4F] text-[14px] font-[400] ml-[110px]">10 min drive</p>

                        </div>
                        <div class="flex flex-row items-center ">
                            <img src="/icons/bxs-map 1.png" alt="" class="mr-[10px]">
                            <p class="text-[#4F4F4F] text-[14px] font-[400]">Olivia Johnson Garden</p>
                            <p class="text-[#4F4F4F] text-[14px] font-[400] self-end ml-[130px]">15 min drive</p>

                        </div>
                        <div class="flex flex-row items-center ">
                            <img src="/icons/bxs-map 1.png" alt="" class="mr-[10px]">
                            <p class="text-[#4F4F4F] text-[14px] font-[400]">Norman Opera Circus</p>
                            <p class="text-[#4F4F4F] text-[14px] font-[400] self-end ml-[140px]">18 min drive</p>

                        </div>
                        <div class="flex flex-row items-center ">
                            <img src="/icons/bxs-map 1.png" alt="" class="mr-[10px]">
                            <p class="text-[#4F4F4F] text-[14px] font-[400]">Rockdeset hotel</p>
                            <p class="text-[#4F4F4F] text-[14px] font-[400] self-end ml-[172px]">32 min drive</p>

                        </div>
                         
                    </div>

                </div>


            </div>


            <!-- 2part -->

            <h2 class="text-[#181818] text-[24px] font-[600] my-[40px_32px]">Available rooms</h2>

            <div class="flex flex-row mt-[32px] ">

                <div class="w-[400px] h-[340px] rounded-[6px]">
                    <img src="/images/Screenshot 2023-12-03 215948.png" alt="">
                </div>

                <div class="w-[400px] h-[432px] rounded-[6px] bg-white flex flex-col">
                    <img src="images/Rectangle 70.jpg">
                    <div class="flex flex-col p-[20px]">

                        <h1 class="text-[#1A1A1A] text-[18px] font-[500] mb-[10px]">Standard twin ben, Multiple beds</h1>

                        <div class="flex flex-row items-center mb-[10px]" >
                            <img src="/icons/bag-tick-2 1.png" class="mr-[10px]">
                            <p class="text-[#4F4F4F] text-[14px] font-[400] ">300 sq ft</p>
                        </div>
                        <div class="flex flex-row items-center mb-[10px]">
                            <img src="/icons/bag-tick-2 1.png" class="mr-[10px]">
                            <p class="text-[#4F4F4F] text-[14px] font-[400] ">300 sq ft</p>
                        </div>
                        <div class="flex flex-row items-center mb-[10px]">
                            <img src="/icons/bag-tick-2 1.png" class="mr-[10px]">
                            <p class="text-[#4F4F4F] text-[14px] font-[400] ">300 sq ft</p>
                        </div>

                        <button class="flex w-[360px] p-[12px_18px] items-center justify-center gap-[10px] bg-button-color hover:bg-hover-button text-[white] text-[15px] font-[500] rounded-[6px]">
                            Reserve suite
                        </button>


                    </div>
                </div>

                <div class="w-[400px] h-[432px] rounded-[6px] bg-white flex flex-col ml-[15px]">
                    <img src="images/Rectangle 70.jpg">
                    <div class="flex flex-col p-[20px]">

                        <h1 class="text-[#1A1A1A] text-[18px] font-[500] mb-[10px]">Standard twin ben, Multiple beds</h1>

                        <div class="flex flex-row items-center mb-[10px]" >
                            <img src="/icons/bag-tick-2 1.png" class="mr-[10px]">
                            <p class="text-[#4F4F4F] text-[14px] font-[400] ">300 sq ft</p>
                        </div>
                        <div class="flex flex-row items-center mb-[10px]">
                            <img src="/icons/bag-tick-2 1.png" class="mr-[10px]">
                            <p class="text-[#4F4F4F] text-[14px] font-[400] ">300 sq ft</p>
                        </div>
                        <div class="flex flex-row items-center mb-[10px]">
                            <img src="/icons/bag-tick-2 1.png" class="mr-[10px]">
                            <p class="text-[#4F4F4F] text-[14px] font-[400] ">300 sq ft</p>
                        </div>

                        <button class="flex w-[360px] p-[12px_18px] items-center justify-center gap-[10px] bg-button-color hover:bg-hover-button text-[white] text-[15px] font-[500] rounded-[6px]">
                            Reserve suite
                        </button>


                    </div>
                </div>

            </div>
        </div>






    </div>
</template>
<style scoped>
    #sectionImg{
        background: linear-gradient(180deg, rgba(244, 244, 244, 0.00) 0%, #FFF 100%);
    }
</style>