<script setup>

    import { useRouter } from 'vue-router';
    import { useAuthStore } from '../../auth/stores/authStore';
    const router = useRouter()
    
    import {ref} from 'vue'
    const props = defineProps({
      searchHeader: {
        type: Boolean,
        default: false
      }})

    const authStore = useAuthStore()
    const login  = ref(false)
    const dropdown =ref(false)

    console.log(authStore.token);
    if(authStore.token){
        login.value = true
    }else{
        login.value = false
    }
    function handleSignOut(){
        authStore.logout()
        login.value= false
        router.push({
            name:'home'
        })
    }
</script>

<template>
    <RouterLink to="/login" v-if="!login">
            <button class="bg-button-color rounded-md w-[82px] h-10 text-white text-[15px] font-medium tracking-[0.3px] leading-5 font-workSans hover:bg-hover-button">
                Login
            </button>
        </RouterLink>


        <!-- /////div loged in -->
        <div v-if="login" class="flex flex-row gap-[10px] shrink-0 items-center">
            <div class="w-[24px] h-[24px]">
                <img src="/images/notification 1.png" v-if="!searchHeader">
                <img src="/public/images/nf (1).png" v-else>
            </div>

            <div @click="dropdown = !dropdown" class=" hover:cursor-pointer">
                <img src="/images/userImg.jpg" v-if="!searchHeader" >
                <img src="/public/images/Ellipse 3.png" v-else>
            </div>

            <!-- drop down -->
            <div class="w-[200px] p-[10px_0px] gap-[1px] flex flex-col items-center rounded-[10px] bg-white shadow-[0_4px_44px_0_rgba(0,0,0,0.15)] text-[#4F4F4F] font-workSans text-[15px] font-normal leading-5 tracking-[0.3px] absolute top-[58px] right-[168px] z-40"
            v-if="dropdown" >
                    <ul >
                        <li class="flex flex-row gap-[10px] h-[40px] p-[10px_0_10px_14px] border-b-2 border-gray-200 border-solid">
                            <img src="/icons/user-square 2.jpg" alt="icon">
                            <span>Manage account</span>
                        </li>
                        <RouterLink to="trips">
                            <li class="flex flex-row gap-[10px] h-[40px] p-[10px_0_10px_14px] border-b-2 border-gray-200 border-solid">
                                    <img src="/icons/bxs-plane-take-off 1.png" alt="icon">
                                    <span>My trips</span>
                            </li>
                        </RouterLink>
                        <li class="flex flex-row gap-[10px] h-[40px] p-[10px_0_10px_14px] border-b-2 border-gray-200 border-solid">
                            <img src="/icons/wallet-3 1.png" alt="icon">
                            <span>Reward and wallet</span>
                        </li>
                        <li class="flex flex-row gap-[10px] h-[40px] p-[10px_0_10px_14px]  hover:cursor-pointer" @click="handleSignOut">
                            <img src="/icons/logout 1.png" alt="icon">
                            <span>Sign Out</span>
                        </li>
                    </ul>
                </div>
        </div>
</template>