<script setup>

    const props = defineProps({
      searchHeader: {
        type: Boolean,
        default: false
      }})
    console.log(props.searchHeader);
    
</script>

<template>
    <nav >
        <ul class="inline-flex gap-12 text-[#333] font-workSans" :class="{textWhite : searchHeader}">
            <li class="text-base tracking-[0.32px] font-normal">Home</li>
            <li class="text-base tracking-[0.32px] font-normal">Discover</li>
            <li class="text-base tracking-[0.32px] font-normal">Activies</li>
            <li class="text-base tracking-[0.32px] font-normal">About</li>
            <li class="text-base tracking-[0.32px] font-normal">Contact</li>
        </ul>
    </nav>
</template>

<style scoped>
    .textWhite{
        color: white;
    }

</style>
