<script setup>
    import {ref,watch} from 'vue'

    const ratingValue = ref('null')
    const emit = defineEmits(['ratingValue'])

    watch(ratingValue,(newValue)=>{
        emit('ratingValue' , newValue)
    })


</script>

<template>

    <div class=" flex flex-col rounded-md border-[1px] border-solid border-[#E0E0E0] h-[170px]" >

        <div class="h-[55px] p-[18px] flex flex-row gap-[10] items-start rounded-[6px_6px_0px_0px] border-[1px] border-solid border-[#E0E0E0] bg-[#F2F2F2]">
            <p class="text-[#181818] text-[16px] font-[500] tracking-[0.16px]">Rating</p>
        </div>
        
        <div class="flex flex-col gap-[8px] p-[20px_18px]">

            <p class="text-[#4F4F4F] text-[14px] font-normal tracking-[0.28px]">
                Show only ratings more than
            </p>

            <div class="flex flex-row ">

                <button class="w-[50px] h-[46px] flex flex-row items-center justify-center rounded-[5px_0px_0px_5px] border-[1px] border-solid border-[#E0E0E0]"
                @click="ratingValue = 1">
                    <p class="text-[#333] font-[400] tracking-[0.32px] mr-[2px]">1</p>
                    <img src="/icons/star-s-fill 4.png" alt="">
                </button>

                
                <button class="w-[50px] h-[46px] flex flex-row items-center justify-center  border-[1px] border-solid border-[#E0E0E0]"
                @click="ratingValue = 2">
                    <p class="text-[#333] font-[400] tracking-[0.32px] mr-[2px]">2</p>
                    <img src="/icons/star-s-fill 4.png" alt="">
                </button>

                <button class="w-[50px] h-[46px] flex flex-row items-center justify-center  border-[1px] border-solid border-[#E0E0E0]"
                @click="ratingValue = 3">
                    <p class="text-[#333] font-[400] tracking-[0.32px] mr-[2px]">3</p>
                    <img src="/icons/star-s-fill 4.png" alt="">
                </button>

                <button class="w-[50px] h-[46px] flex flex-row items-center justify-center  border-[1px] border-solid border-[#E0E0E0]"
                @click="ratingValue = 4">
                    <p class="text-[#333] font-[400] tracking-[0.32px] mr-[2px]">4</p>
                    <img src="/icons/star-s-fill 4.png" alt="">
                </button>

                <button class="w-[50px] h-[46px] flex flex-row items-center justify-center rounded-[0px_5px_5px_0px] border-[1px] border-solid border-[#E0E0E0]"
                @click="ratingValue = 5">
                    <p class="text-[#333] font-[400] tracking-[0.32px] mr-[2px]">5</p>
                    <img src="/icons/star-s-fill 4.png" alt="">
                </button>


               

            </div>

        </div>

    </div>
    
</template>