<script setup>
import {ref , watch}  from 'vue'

const emits = defineEmits(['searchNameValue'])
const nameSearch = ref('')

watch(nameSearch , (newValue)=>{
    emits('searchNameValue' , newValue)
})

 
</script>

<template>
    <div class="w-full h-[119px] rounded-[6px] bg-[#F2F2F2] p-[20px_17px_20px_19px] flex flex-col gap-[16px]">

        <p class="text-[#181818] text-[16px] font-[500] tracking-[0.16px]">
            Search by property name
        </p>
        <div class="w-[259px] h-[44px] p-[11px_12px_12px_12px] flex flex-row items-center gap-[10px] rounded-[4px] border-[1px] border-solid border-[#E0E0E0] bg-white">
            <img src="/icons/search 1.png">
            <input type="text" placeholder="eg. Beach westpalm" class="focus:outline-none" v-model="nameSearch">
        </div>
    </div>
</template>