<script setup>
import {ref , watch , onMounted} from 'vue'
import axios from 'axios'
const optionsRes = ref([])
const optionId = ref(null)
const Loading = ref(false)
const emit = defineEmits(['sortId'])
const props = defineProps(['cityIdRes' ,'checkIn' , 'checkOut'])

const fetchData = async(id , checkIn , checkOut) => {
        Loading.value=true
        try{

            const options = {
                        method: 'GET',
                        url: 'https://booking-com15.p.rapidapi.com/api/v1/hotels/getSortBy',
                        params: {
                            dest_id: id,
                            search_type: 'CITY',
                            arrival_date: checkIn,
                            departure_date: checkOut
                        },
                        headers: {
                            'X-RapidAPI-Key': 'a809b06adbmsh456c870f5180c2cp140332jsne8490a895b87',
                            'X-RapidAPI-Host': 'booking-com15.p.rapidapi.com'
                        }
                        };

                const response = await axios.request(options);
                optionsRes.value = response.data.data
                
        }catch(error){
            error.value = 'An error occurred while fetching data.';
        }finally{
            Loading.value = false
        }
    }
    // onMounted(fetchData)

    const cityId = ref(props.cityIdRes)
    const checkIn = ref(props.checkIn )
    const checkOut = ref(props.checkIn)
    
fetchData(cityId.value ,checkIn.value ,checkOut.value)

watch(cityId,()=>{
    fetchData(cityId.value, checkIn.value ,checkOut.value)
})
watch(checkIn,()=>{
    fetchData(cityId.value , checkIn.value ,checkOut.value)
})
watch(checkOut,()=>{
    fetchData(cityId.value , checkIn.value ,checkOut.value)
})

watch(optionId,(newValue)=>{
    emit('sortId' , newValue)
})




</script>

<template>
    <div v-if="!optionId" class="w-[190px] h-[48px] p-[8px_12px] flex flex-row items-center rounded-[6px] border-[1px] border-solid border-[#BDBDBD]">
        <div class="flex flex-col">
            <p class="w-[150px] text-[#828282] text-[12px] font-[500] leading-3 tracking-[0.24px]">Sort by</p>
            <p class="text-[#333] font-[400] text-[14px] leading-[18px] tracking-[0.28px]"> Recommended</p>
        </div>
        <img src="/icons/arrow-down 1.jpg" alt="">
        

    </div>
    
    <p v-if="Loading">Loading..</p>
    <select class="w-[190px] h-[48px] p-[8px_12px] text-[#333] text-[13px] rounded-[6px] border-[1px] border-solid border-[#BDBDBD] bg-transparent appearance-none focus:outline-none absolute  right-[244px]" @change="event => optionId = event.target.value" >
            <option value="none" hidden selected disabled class="w-[190px]">
    
            </option>
           <option v-for="option in optionsRes" :key="option.id" :value="option.id" >
                {{ option.title }}
            </option>
    </select>

    
</template>
