<script setup>
import { ref } from 'vue';


    const islogin=ref(true)
    function handleClick(){
        islogin.value = false
    }
</script>
<template>
        <Teleport to="body">
            <Transition name="modal-outer">
                <div v-show="islogin" class="absolute w-full bg-black bg-opacity-20 h-screen  top-0 left-0 flex justify-center items-center px-8">

                    <Transition name="modal-inner">
                        <!-- card -->
                        <div v-if="islogin" class="bg-white w-[400px] rounded-[10px] font-workSans flex flex-col p-[58px_24px_28px_24px]">

                            <div class="mb-[45px]">
                                <img src="/images/cardWel.jpg" alt="img" >
                            </div>

                            <div class="w-full text-center font-workSans mb-[45px]">
                                <p class="text-[#181818] text-[20px] font-semibold mb-[12px]">Welcome to My Dream Place</p>
                                <p class="text-[16px] text-[#4F4F4F]font-[400px] leading-[22.4px] tracking-[0.32px]">You can now enjoy your travel experience with easy access to resources and more</p>
                            </div>

                            <button @click="handleClick" class="bg-[#2F80ED] hover:bg-hover-button w-[352px] p-[12px_18px] flex items-center justify-center text-white rounded-[6px]">
                                <span class="font-workSans text-[15px] font-[500px] tracking-[0.3px]leading-[20px]">Get Started</span>
                            </button>

                        </div>
                    </Transition>


                </div>
            </Transition>
        </Teleport>
</template>
<style scoped>
    .modal-outer-enter-active,
    .modal-outer-leave-active {
    transition: opacity 0.3s cubic-bezier(0.52, 0.02, 0.19, 1.02);
    }

    .modal-outer-enter-from,
    .modal-outer-leave-to {
    opacity: 0;
    }

    .modal-inner-enter-active {
    transition: all 0.3s cubic-bezier(0.52, 0.02, 0.19, 1.02) 0.15s;
    }

    .modal-inner-leave-active {
    transition: all 0.3s cubic-bezier(0.52, 0.02, 0.19, 1.02);
    }

    .modal-inner-enter-from {
    opacity: 0;
    transform: scale(0.8);
    }

    .modal-inner-leave-to {
    transform: scale(0.8);
    }
</style>