<script setup>
    import SiteName from '../../shared/SiteName.vue';
    import { ref } from 'vue';
    import { useRouter, useRoute } from 'vue-router';
    import obj from '../data/registrationData.json'
    import { useAuthStore } from '../stores/authStore';
    import { storeToRefs } from 'pinia';

    const validLogin = ref(false)
    const route =useRoute()
    const authStore = useAuthStore()
    
    //data 
    const users = ref([])
    users.value = obj.Users
    

    //check
    const typeInput = ref('password')
    const emailUser = ref()
    const passUser = ref('')
    const router = useRouter()

    if(route.query){
        emailUser.value= route.query.e
        passUser.value= route.query.p
        if(route.query.users){

            users.value = JSON.parse(route.query.users)
        }
    }else{
        emailUser.value= null
        emailUser.value=null
    }
    

    function handelSubmit() {
        const user = users.value.find((users) => 
                users.email === emailUser.value && users.password === passUser.value
        )
        if(user){
            validLogin.value=false
            const token = createToken(63)
            authStore.login(token , user)

            router.push({
                name:'home',
                query:{
                    login:true,
                    logCityId:route.query.destId,
                    logCity:route.query.cityName,
                    logCheck_in:route.query.checkIn,
                    logCheck_out:route.query.checkOut,
                    logGuests:route.query.guestsNum,
                    logRooms:route.query.roomsNum
                }
            })

        }else{
            validLogin.value=true
        }


    }

    
    function createToken(length) {

        const characters ='ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
        let token = ' ';
        const charactersLength = characters.length;
        for ( let i = 0; i < length; i++ ) {
            token += characters.charAt(Math.floor(Math.random() * charactersLength));
        }

        return token;
    }


</script>

<template>
    <div class="container">
        <header class="flex justify-between items-center h-[68px] w-[1240px]">
             <SiteName />
        </header>

        <div class=" flex flex-col items-center justify-center mt-[92px]">
            <form class=" w-[401px] mb-[20px]" @submit.prevent="handelSubmit">
                <div class="mb-[40px] text-center">
                    <span class="h-8 text-[#181818] font-workSans text-[28px]  font-semibold">Sign in</span>
                </div>
                <!-- //email -->
                <label class="block ">
                    <span class="block text-sm font-medium text-[#181818] tracking-[0.28px] ">Email</span>
                    <input type="email" class="peer h-[44px] bg-[#F2F2F2] rounded-[4px] w-full focus:outline-[#c4bbbb]" v-model="emailUser" required/>
                    <p class="mt-2 invisible peer-invalid:visible text-red-700 text-sm ">
                    Please provide a valid email address.
                    </p>
                </label>
                <!-- //pass -->
                <label class="block mb-[33px]">
                    <span class="block text-sm font-medium text-[#181818] tracking-[0.28px] ">Password</span>
                    <input :type="typeInput" class="peer  h-[44px] bg-[#F2F2F2] rounded-[4px] w-full focus:outline-[#c4bbbb]" v-model="passUser" required/>
                </label>
            
                <p class="mt-5 text-red-700 text-sm text-center" v-if="validLogin">
                    Please check your email and password 
                </p>
                <button class="bg-button-color hover:bg-hover-button text-white rounded-md w-full p-[12px_175px] h-[43px]"><span class="text-[13px] font-workSans font-[500px] tracking-[0.3px] leading-5 ">Sign in</span></button>
            </form>

            <div class="w-full text-center text-[#4F4F4F] font-workSans text-[16px] font-normal tracking-[0.32px]">
                <span >Don't have an Account ? </span>
                <RouterLink to="/register"><span class="text-[#2F80ED]">Register</span></RouterLink>
            </div>
        </div>


       
    </div>

</template>