<script setup>
    import SiteName from '../../shared/SiteName.vue';
    import { ref } from 'vue';
    import { useRouter } from 'vue-router';
    import obj from '../data/registrationData.json'


    const users = ref(obj.Users)
    const typeInput = ref('password')
    const email = ref('')
    const pass = ref('')
    const confirmPass = ref('')
    const confirmPassErr =ref(false)
    const router = useRouter()


    function handelSubmit() {
        if (confirmPass.value !== pass.value) {
            confirmPassErr.value =true
        }else{
            confirmPassErr.value =true

             //add nue user to data
            const newUser = {
                email:email.value,
                password:pass.value
            }
            
            users.value.push(newUser)
            console.log('add user sucssfully');

            users.value = JSON.stringify(users.value)
            router.push({
                name:'login',
                query: {
                    e:email.value,
                    p:pass.value,
                    users:users.value
                }
            })

        }

        
    }
</script>

<template>
    <div class="container">
        <header class="flex justify-between items-center h-[68px] w-[1240px]">
             <SiteName />
        </header>

        <div class=" flex flex-col items-center justify-center mt-[92px]">
            <form class=" w-[401px] mb-[20px]" @submit.prevent="handelSubmit">
                <div class="mb-[40px] text-center">
                    <span class="h-8 text-[#181818] font-workSans text-[28px]  font-semibold"> Register </span>
                </div>
                <!-- //email -->
                <label class="block ">
                    <span class="block text-sm font-medium text-[#181818] tracking-[0.28px] ">Email</span>
                    <input type="email" class="peer h-[44px] bg-[#F2F2F2] rounded-[4px] w-full focus:outline-[#c4bbbb]" v-model="email" required/>
                    <p class="mt-2 invisible peer-invalid:visible text-red-700 text-sm ">
                    Please provide a valid email address.
                    </p>
                </label>

                <!-- //pass -->
                <label class="block ">
                    <span class="block text-sm font-medium text-[#181818] tracking-[0.28px] ">Password</span>
                    <input :type="typeInput" class="peer  h-[44px] bg-[#F2F2F2] rounded-[4px] w-full focus:outline-[#c4bbbb]" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" v-model="pass" required/>
                    <p class="mt-2 invisible peer-invalid:visible text-red-700 text-sm ">
                        password must be contain 8 or more characters that are of at least one number, and one uppercase and lowercase letter
                    </p>
                </label>
            
                <!-- //confirm pass -->
                <label class="block mb-[33px]">
                    <span class="block text-sm font-medium text-[#181818] tracking-[0.28px] ">Confrim Password</span>
                    <input :type="typeInput" class="peer  h-[44px] bg-[#F2F2F2] rounded-[4px] w-full focus:outline-[#c4bbbb]"  v-model="confirmPass" required/>
                    <p class="mt-2 text-red-700 text-sm "
                        v-if="confirmPassErr">
                        password do not match
                    </p>
                </label >

                <button class="bg-button-color hover:bg-hover-button text-white rounded-md w-full p-[12px_175px] h-[43px]"><span class="text-[13px] font-workSans font-[500px] tracking-[0.3px] leading-5 ">Submit</span></button>
            </form>

            <div class="w-full text-center text-[#4F4F4F] font-workSans text-[16px] font-normal tracking-[0.32px]">
                <span >Already have an account  </span>
                <RouterLink to="/login"><span class="text-[#2F80ED]">Sign in</span></RouterLink>
            </div>
        </div>
       
    </div>
    
</template>
