<script setup>
    import Header from '../components/Header.vue';
    import BannerSection from '../components/BannerSection.vue'
    import Searchbar from '../components/Searchbar.vue'
    import WelcomeCard from '../components/WelcomeCard.vue';
    import Covid from '../../shared/Covid.vue';
    import Footer from '../../shared/Footer.vue';
    import CopyRight from '../../shared/CopyRight.vue';
    import{ref} from 'vue'
    import { useRoute } from 'vue-router';

    const route = useRoute()

    const welcomeCard = ref(false)
    if(route.query.login){
        welcomeCard.value = route.query.login
    }else{
        welcomeCard.value =false
    }


</script>

<template>
    <div class="container">
        <Header />
        <BannerSection/>
        <Searchbar />
        <WelcomeCard v-if="welcomeCard"></WelcomeCard>
    </div>

    <div class="container mb-[50px] mt-[20px]">
            <Covid />
    </div>

    <!-- static sections -->
    <div class="container font-workSans">

        <!-- section1 -->
        <div class="w-[1240px] flex flex-col gap-[16px] mb-[60px]">

            <h2 class="text-[#181818] font-[600] text-[30px]">Enjoy your dream vacation</h2>

            <p class="text-[16px] text-[#333] font-[400]">Plan and book our perfect trip with expert advice, travel tips, destination information and  inspiration from us</p>
            
            <div class="flex flex-row justify-between">

                <div class="flex flex-col gap-[5px]">
                    <img src="/images/Rectangle 8.jpg">
                    <h2 class="text-[#181818] text-[20px] font-[600]">Australia</h2>
                    <p class="text-[#181818] text-[14px] font-[400]">2246 properties</p>
                </div>
                <div class="flex flex-col gap-[5px]">
                    <img src="/images/Rectangle 9.jpg">
                    <h2 class="text-[#181818] text-[20px] font-[600]">Japan</h2>
                    <p class="text-[#181818] text-[14px] font-[400]">1278 properties</p>
                </div>
                <div class="flex flex-col gap-[5px]">
                    <img src="/images/Rectangle 10.jpg">
                    <h2 class="text-[#181818] text-[20px] font-[600]">New Zealand</h2>
                    <p class="text-[#181818] text-[14px] font-[400]">480 properties</p>
                </div>
                <div class="flex flex-col gap-[5px]">
                    <img src="/images/Rectangle 11.jpg">
                    <h2 class="text-[#181818] text-[20px] font-[600]">Greece</h2>
                    <p class="text-[#181818] text-[14px] font-[400]">
                        320 properties
                    </p>
                </div>

            </div>

        </div>

        <!-- section 2 -->
        <div class="w-[1240px] flex flex-col gap-[16px] mb-[60px]">
            <h2 class="text-[#181818] font-[600] text-[30px]">Get inspiration for your next trip</h2>

            <div class="flex flex-row justify-between items-center">

                <div class="flex flex-col justify-end w-[400px] h-[280px] rounded-[8px] bg-[url('/images/bg1.png')] items-center">
                    <h2 class="text-[white] text-[20px] font-[600] w-[360px] mb-[10px]">
                        Sydeny’s 10 most fashionable 5 star hotels
                    </h2>
                    <p class="text-[white] text-[16px] font-[400] w-[360px] mb-[20px]">
                        Browse the fastest growing tourism sector in the heart of Australia tourism capital ....
                    </p>
                </div>
                <div class="flex flex-col justify-end w-[400px] h-[280px] rounded-[8px] bg-[url('/images/bg3.jpg')] items-center">
                    <h2 class="text-[white] text-[20px] font-[600] w-[360px] mb-[10px]">
                        Top cities for Vegan Travellers
                    </h2>
                    <p class="text-[white] text-[16px] font-[400] w-[360px] mb-[20px]">
                       Top sites where you do not have to worry about being a vegan. Our tourist guide is here...
                    </p>
                </div>
                <div class="flex flex-col justify-end w-[400px] h-[280px] rounded-[8px] bg-[url('/images/gg3.jpg')] items-center">
                    <h2 class="text-[white] text-[20px] font-[600] w-[360px] mb-[10px]">
                        World’s top destinations during and post covid timeline
                    </h2>
                    <p class="text-[white] text-[16px] font-[400] w-[360px] mb-[20px]">
                        Pandemic is still intact and will be here for a longer time. Here’s where your next destination...
                    </p>
                </div>

            </div>

        </div>

        <!-- section3 -->
        <div class="w-[1240px] flex flex-col gap-[16px] mb-[60px]">

            <h2 class="text-[#181818] font-[600] text-[30px]">Popular hotels</h2>

            <div class="flex flex-row justify-between">

                <div class="flex flex-col gap-[5px]">
                    <img src="/images/Rectangle 8 (1).png">
                    <h2 class="text-[#181818] text-[20px] font-[600]">Lakeside Motel Warefront</h2>
                    <p class="text-[#181818] text-[14px] font-[400]">2246 properties</p>
                </div>
                <div class="flex flex-col gap-[5px]">
                    <img src="/images/Rectangle 9.png">
                    <h2 class="text-[#181818] text-[20px] font-[600]">Recce Graham resort</h2>
                    <p class="text-[#181818] text-[14px] font-[400]">1278 properties</p>
                </div>
                <div class="flex flex-col gap-[5px]">
                    <img src="/images/Rectangle 10.png">
                    <h2 class="text-[#181818] text-[20px] font-[600]">Fireside Dinners</h2>
                    <p class="text-[#181818] text-[14px] font-[400]">480 properties</p>
                </div>
                <div class="flex flex-col gap-[5px]">
                    <img src="/images/Rectangle 11.png">
                    <h2 class="text-[#181818] text-[20px] font-[600]">Oculous Inn Stay</h2>
                    <p class="text-[#181818] text-[14px] font-[400]">
                        320 properties
                    </p>
                </div>

            </div>

        </div>

        <!-- section4 -->
        <div  class="w-[1240px] flex flex-row items-center pl-[69px] mb-[60px] bg-[url('/images/BGG.png')] h-[280px] ">
            
            <div class="w-580px">
                <h2 class="w-[580px] text-[white] font-[600] text-[26px] mb-[30px]">Download the mobile application for bonus coupons and travel codes</h2>
                <button class="flex p-[12px_18px] items-center justify-center gap-[10] rounded-[6px] bg-button-color hover:bg-hover-button text-[white] font-[500] text-[15px] w-[182] h-[44]">
                    Download mobile app
                </button>
            </div>
            <img src="/public/images/Isolated_right_hand_with_smartphone 2 (1).png" class="relative right-[150px]" alt="">
                
            

        </div>

        <!-- section5 -->
        <div class="w-[1240px] flex flex-col gap-[16px] mb-[60px] items-center justify-center">

            <h2 class="text-[#181818] font-[600] text-[30px]">Explore the world with My Dream place</h2>
            <p class="text-[#2F80ED] font-[400] text-[16px]">
                Discover new places and experiences
            </p>

        </div>


    </div>

    <Footer></Footer>
    <CopyRight />
    
</template>
