<script setup>
    import { useRoute } from 'vue-router'
    import {ref} from 'vue'
    import HotelD from '../components/HotelD.vue';
    import Header from '../components/Header.vue';
    import Covid from '../../shared/Covid.vue';
    import Footer from '../../shared/Footer.vue';
    import CopyRight from '../../shared/CopyRight.vue';

    // const route = useRoute()
    // const Loading = ref(false)

    //prop yo com hotel
    // const hotel = ref({})

    
    // const hotelid = ref(route.query.hotelId)
    // const hotelCheckIn = ref(route.query.checkIn)
    // const hotelCheckOut =ref(route.query.checkOut)

    //fetch api

</script>

<template>
    <div class="bg-[#F4F4F4]">

    
        <div class=" bg-white" >
            <div class="container">
                <!-- //header -->
                <Header />

            </div>         
        </div>

        <HotelD />

        <div class="container mb-[80px]">
            <Covid />
        </div>

        
        <Footer></Footer>
        <CopyRight />
    




    </div>

</template>