<script setup>
    import Header from '../components/Header.vue';
    import Covid from '../../shared/Covid.vue';
    import Footer from '../../shared/Footer.vue';
    import CopyRight from '../../shared/CopyRight.vue';

</script>

<template>

    <div class="bg-[#F4F4F4]">

        
        <div class=" bg-white" >
            <div class="container">
                <!-- //header -->
                <Header />

            </div>         
        </div>

        <!-- sectionTrips -->
        
            <div class="container  ">
                <h2 class="mt-[60px] mb-[28px] text-[#1A1A1A] text-[32px] font-[600]">My trips</h2>
                
                <div class="flex flex-col gap-[24px]">

                    <!-- trip -->
                    <div class="flex flex-row  p-[20px] bg-white h-[240px] rounded-[6px] border-1px border-solid border-[#E0E0E0] ">

                        <img src="/public/images/Rectangle 32.png" alt="" class="mr-[24px]">

                        <div class="w-[380px] flex flex-col">

                            <h2 class="text-[20px] font-[500] text-[#1A1A1A]">Lakeside Motel Warefront</h2>

                            <div class="flex flex-row mb-[17px] mt-[20px]">
                                <!-- stars -->
                                <div class="flex flex-row " v-for="i in [0,1,2]" :key="i">
                                    <img src="/icons/star-s-fill 4.png">
                                </div>
                                <p class="text-[#4F4F4F] text-[14px] font-[400] leading-[19.6px] tracking-[0.28px] ml-[12px]">
                                   3 (1200 Reviews)
                                </p>
                            </div>

                            <p class="text-[#4F4F4F] text-[13px] font-[500] leading-[18.2px] tracking-[0.26px] mb-[4px]">
                                Live a little and celbrate with champagne
                            </p>

                            <p class="text-[#4F4F4F] text-[13px] font-[400] leading-[18.2px] tracking-[0.26px] mb-[18px]">
                                Reats include a glass of French champagne, parking and a late checkout. Gym included. Flexible 
                            </p>
                            <p class="text-[#4F4F4F] text-[13px] font-[400] leading-[18.2px] tracking-[0.26px] mb-[18px]">
                                Reats include a glass of French champagne, parking and a late checkout. Gym included. Flexible 
                            </p>

                        </div>
                        <div class="flex items-end ml-[350px]">
                            <button class="flex p-[12px_18px] items-center justify-center gap-[10] rounded-[6px] bg-button-color hover:bg-hover-button text-[white] font-[500] text-[15px] w-[182] h-[44]">
                                View trip details
                            </button>
                        </div>

                    </div>
                    
                    <!-- trip -->
                    <div class="flex flex-row  p-[20px] bg-white h-[240px] rounded-[6px] border-1px border-solid border-[#E0E0E0] ">

                        <img src="/public/images/Rectangle 32.png" alt="" class="mr-[24px]">

                        <div class="w-[380px] flex flex-col">

                            <h2 class="text-[20px] font-[500] text-[#1A1A1A]">Lakeside Motel Warefront</h2>

                            <div class="flex flex-row mb-[17px] mt-[20px]">
                                <!-- stars -->
                                <div class="flex flex-row " v-for="i in [0,1,2]" :key="i">
                                    <img src="/icons/star-s-fill 4.png">
                                </div>
                                <p class="text-[#4F4F4F] text-[14px] font-[400] leading-[19.6px] tracking-[0.28px] ml-[12px]">
                                   3 (1200 Reviews)
                                </p>
                            </div>

                            <p class="text-[#4F4F4F] text-[13px] font-[500] leading-[18.2px] tracking-[0.26px] mb-[4px]">
                                Live a little and celbrate with champagne
                            </p>

                            <p class="text-[#4F4F4F] text-[13px] font-[400] leading-[18.2px] tracking-[0.26px] mb-[18px]">
                                Reats include a glass of French champagne, parking and a late checkout. Gym included. Flexible 
                            </p>
                            <p class="text-[#4F4F4F] text-[13px] font-[400] leading-[18.2px] tracking-[0.26px] mb-[18px]">
                                Reats include a glass of French champagne, parking and a late checkout. Gym included. Flexible 
                            </p>

                        </div>
                        <div class="flex items-end ml-[350px]">
                            <button class="flex p-[12px_18px] items-center justify-center gap-[10] rounded-[6px] bg-button-color hover:bg-hover-button text-[white] font-[500] text-[15px] w-[182] h-[44]">
                                View trip details
                            </button>
                        </div>

                    </div>
                    <!-- trip -->
                    <div class="flex flex-row  p-[20px] bg-white h-[240px] rounded-[6px] border-1px border-solid border-[#E0E0E0] ">

                        <img src="/public/images/Rectangle 32.png" alt="" class="mr-[24px]">

                        <div class="w-[380px] flex flex-col">

                            <h2 class="text-[20px] font-[500] text-[#1A1A1A]">Lakeside Motel Warefront</h2>

                            <div class="flex flex-row mb-[17px] mt-[20px]">
                                <!-- stars -->
                                <div class="flex flex-row " v-for="i in [0,1,2]" :key="i">
                                    <img src="/icons/star-s-fill 4.png">
                                </div>
                                <p class="text-[#4F4F4F] text-[14px] font-[400] leading-[19.6px] tracking-[0.28px] ml-[12px]">
                                   3 (1200 Reviews)
                                </p>
                            </div>

                            <p class="text-[#4F4F4F] text-[13px] font-[500] leading-[18.2px] tracking-[0.26px] mb-[4px]">
                                Live a little and celbrate with champagne
                            </p>

                            <p class="text-[#4F4F4F] text-[13px] font-[400] leading-[18.2px] tracking-[0.26px] mb-[18px]">
                                Reats include a glass of French champagne, parking and a late checkout. Gym included. Flexible 
                            </p>
                            <p class="text-[#4F4F4F] text-[13px] font-[400] leading-[18.2px] tracking-[0.26px] mb-[18px]">
                                Reats include a glass of French champagne, parking and a late checkout. Gym included. Flexible 
                            </p>

                        </div>
                        <div class="flex items-end ml-[350px]">
                            <button class="flex p-[12px_18px] items-center justify-center gap-[10] rounded-[6px] bg-button-color hover:bg-hover-button text-[white] font-[500] text-[15px] w-[182] h-[44]">
                                View trip details
                            </button>
                        </div>

                    </div>


                </div>
            </div>
        



        <div class="container mb-[80px] mt-[800px]">
            <Covid />
        </div>


    <Footer></Footer>
    <CopyRight />
    </div>

</template>